.card{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  cursor:pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card:hover {
  box-shadow: rgba(40, 40, 83, 0.4) 0px 13px 27px -5px, rgba(0, 0, 0, 0.45) 0px 8px 16px -8px;
  transition: 0.3s;
}

.container a{
  text-decoration: none;
}

.card img {
  object-fit: contain;
}

.card button{
  cursor: pointer;
  text-decoration: none;
  padding: 3% 20%;
  border-radius: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  transition: 0.35s;
}

.card button:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.35s;
}

.cardContent {
  display: flex;
  justify-content: center;
}

