.card{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.card img {
  object-fit: contain;
}

.card a{
  cursor: pointer;
  text-decoration: none;
  padding: 3% 20%;
  border-radius: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  transition: 0.35s;
}

.card a:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.35s;
}

.cardContent {
  display: flex;
  justify-content: center;
}