@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap');


.Container button,
.NavBtns a {
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  transition: 0.35s;
}

.Container button:hover,
.NavBtns a:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.35s;
}

.btnsContainer{
  margin: 30px 0;
  display: flex;
  justify-content: flex-end;
}

.NavBtns{
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
}

.NavBtns a {
  font-weight: 400;
  padding:0 10px;
}