@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navLinks{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navLinks a{
  text-decoration: none;
  color: black;
  font-size: 28px;
  position: relative;
  -webkit-background-clip: text;
  transition: all 0.3s ease-in-out;
}

.navLinks a:before{
  content: '';
  background: #000000;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.navLinks a:hover {
  background-position: 0;
}

.navLinks  a:hover::before{
  width: 100%;
}

.login{
  display: flex;
  align-items: center;
  justify-content: flex-end;  
  font-size: 20px;
}

.login img{
  margin: 2px 10px;
}

.login img:hover {
  width: 54px;
  height: 54px;
  margin: 0px 8px;
}


  