.container{
    display: flex;
    align-items: center;
}

.leftContainer {
    width: 50%;
    display: flex;
    justify-content: center;
}

.rightContainer {
    width: 50%;
}

.rightContainer a {
    text-decoration:none;
}

.quantity {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    width: 120px;
}

.quantity button{
    padding: 15px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.btns{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 350px;
  text-decoration: none;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  transition: 0.35s;
}

.btns:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.35s;
}